 <div class="flex justify-center">
  <div class="lg:w-5/6 lg:m-5 p-3">
    <div class="flex justify-center p-3">
      <%= cl_image_tag("affirmations_or7j1g", class:"w-12 h-12") %>
      <div class="mx-2">
        <h1 class="font-headings font-bold text-base">Feeling <%= (@mood.name).downcase %>?</h1>
        <h1 class="font-headings text-base mt-2">Repeat the following:</h1>
      </div>
    </div>

    <div class="ml-6">
      <h1 class="py-3 px-5 font-headings text-neediegreen lg:text-center text-left text-base">
        <%= @therapies.first.content.affirmations.sample(1)[0][12..-3].split(" ").join(" ").capitalize %>
      </h1>
      <h1 class="py-3 px-5 font-headings text-neediegreen lg:text-center text-left text-base">
        <%= @therapies.first.content.affirmations.sample(1)[0][12..-3].split(" ").join(" ").capitalize %>
      </h1>
      <h1 class="py-3 px-5 font-headings text-neediegreen lg:text-center text-left text-base">
        <%= @therapies.first.content.affirmations.sample(1)[0][12..-3].split(" ").join(" ").capitalize %>
      </h1>
      <h1 class="py-3 px-5 font-headings text-neediegreen lg:text-center text-left text-base">
        <%= @therapies.first.content.affirmations.sample(1)[0][12..-3].split(" ").join(" ").capitalize %>
      </h1>
      <h1 class="py-3 px-5 font-headings text-neediegreen lg:text-center text-left text-base">
        <%= @therapies.first.content.affirmations.sample(1)[0][12..-3].split(" ").join(" ").capitalize %>
      </h1>
    </div>
  </div>
</div>
