<div class="flex justify-center">
  <div class="p-3">
    <%= cl_image_tag("audio_khjy1w", class:"w-24 h-24") %>
  </div>
  <div class="justify-center mt-5">
    <h1 class="font-headings font-bold text-lg">Which audio option can help you?</h1>
  </div>
</div>
<div class="grid lg:grid-cols-2 md:grid-cols-2 gap-3 justify-center items-center flex-wrap">
  <%= link_to audio_mood_path do %>
    <div class="p-4 m-5 flex border w-1/2">
    <div class="flex justify-center">
      <%= cl_image_tag("music_rqjazw") %>
    </div class="justify-center">
    <div>
      <h5 class="font-headings text-5xl font-bold text-lightgreen justify-center my-5">Music</h5>
    </div>
    </div>
  <% end %>
  <%= link_to audio_mood_path do %>
    <div class="p-4 m-5 flex border w-1/2">
    <div class="flex justify-center">
      <%= cl_image_tag("music_rqjazw") %>
    </div class="justify-center">
    <div>
      <h5 class="font-headings text-5xl font-bold text-lightgreen justify-center my-5">Music</h5>
    </div>
    </div>
  <% end %>
</div>
