<div class="flex justify-center">
  <div class="p-3">
    <%= cl_image_tag("goodvibes_twiive", class:"lg:w-20 lg:h-20 w-16 h-16") %>
  </div>
  <div class="justify-center mt-4">
    <h1 class="font-headings lg:text-lg text-base">Which good vibes option can help you?</h1>
  </div>
</div>

<%# <div class="grid lg:grid-cols-2 grid-cols-2 m-3 place-items-center"> %>
<div class="flex flex-wrap justify-center my-3 space-x-8">
  <% @therapies.each do |therapy| %>
    <% if therapy.content_type == 'Reading' %>
      <%= link_to reading_path(therapy.content) do %>
      <div class="justify-center shadow-lg shadow-lightgreen w-36 h-56 px-3 py-14 mb-5">
        <div class="flex justify-center">
          <%= cl_image_tag("article_adl4ov", class:"w-20 h-20") %>
        </div>
        <h5 class="font-headings text-base text-lightgreen text-center mx-3 py-3">Good News</h5>
      <% end %>
      </div>
    <% elsif therapy.content_type == 'Animation' %>
      <%= link_to animation_path(therapy.content) do %>
      <div class="justify-center shadow-lg shadow-lightgreen w-36 h-56 px-3 py-14 mb-5">
        <div class="flex justify-center">
          <%= cl_image_tag("joke_lcmg27", class:"w-20 h-20") %>
        </div>
        <h5 class="font-headings text-base text-lightgreen text-center mx-3 py-3">Funny Memes</h5>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
