<div class="mt-5">
<% if @audio.therapy.sub_category == 'music' %>
   <div class="flex justify-center">
    <%= cl_image_tag("music_rqjazw", class:"w-28 h-28") %>
    <div class="m-3">
      <h1 class="font-headings font-bold text-lg">So you're feeling <%= (@audio.therapy.mood.name).downcase %> and you want to listen to <%= @audio.therapy.sub_category %>?</h1>
      <h1 class="font-headings">Press play on the following playlist:</h1>
    </div>
  </div>
  <% else %>
    <div class="flex justify-center">
    <%= cl_image_tag("podcast_praz0v", class:"w-28 h-28") %>
    <div class="m-3">
      <h1 class="font-headings font-bold text-lg">So you're feeling <%= (@audio.therapy.mood.name).downcase %> and you want to listen to a <%= @audio.therapy.sub_category %>?</h1>
      <h1 class="font-headings">Press play on the follow podcast:</h1>
    </div>
  <% end %>
</div>

<div class="flex justify-center my-5">
<h1 class="font-headings italic">
  <%= @audio.therapy.content.link %>
</h1>
</div>
