<div class="flex justify-center">
  <div class="lg:w-5/6 lg:m-5 p-3">
    <% if @audio.therapy.sub_category == 'music' %>
      <div class="flex justify-center p-3">
        <%= cl_image_tag("music_rqjazw", class:"w-16 h-16") %>
        <div class="mx-2">
          <h1 class="font-headings font-bold lg:text-base text-sm">So you're feeling <%= (@audio.therapy.mood.name).downcase %> and you want to listen to <%= @audio.therapy.sub_category %>?</h1>
          <h1 class="font-headings lg:text-base text-sm my-2">Press play on the following playlist:</h1>
        </div>
    <% else %>
    <div class="flex justify-center p-3">
      <%= cl_image_tag("podcast_praz0v", class:"w-16 h-16") %>
      <div class="mx-2">
        <h1 class="font-headings font-bold lg:lg:text-base text-sm">So you're feeling <%= (@audio.therapy.mood.name).downcase %> and you want to listen to a <%= @audio.therapy.sub_category %>?</h1>
        <h1 class="font-headings lg:text-base text-sm my-2">Press play on the following podcast:</h1>
      </div>
      <% end %>
    </div>

    <div class="flex justify-center m-2">
      <iframe style="border-radius:12px" src=<%= @audio.therapy.content.link %> width="80%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>

  </div>
</div>
