<div class="flex justify-center">
  <div class="lg:w-1/2 lg:m-10 shadow rounded-3xl">
    <h1 class="font-headings text-4xl text-center justify-items-center text-neediegreen p-5">Sign Up to Needie Today!</h1>
    <div class="flex justify-center h-full mx-5 mb-5">
      <div class="w-5/6 xl:w-5/6">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      label: false,
                      input_html: { placeholder:"Your First Name",
                      class: "font-headings mt-1 mb-4 block w-full rounded-2xl border-neediegreen bg-white focus:border-gray-300 focus:bg-white focus:ring-0" }%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      label: false,
                      input_html: { placeholder:"Your Last Name",
                      class: "font-headings mt-1 mb-4 block w-full rounded-2xl border-neediegreen bg-white focus:border-gray-300 focus:bg-white focus:ring-0" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      input_html: { placeholder:"Your Email",
                      class: "font-headings mt-1 mb-4 block w-full rounded-2xl border-neediegreen bg-white focus:border-gray-300 focus:bg-white focus:ring-0" }%>
          <%= f.input :password,
                      required: true,
                      label: false,
                      input_html: { placeholder:"Your Password",
                      class: "font-headings mt-1 mb-4 block w-full rounded-2xl border-neediegreen bg-white focus:border-gray-300 focus:bg-white focus:ring-0" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      input_html: { placeholder:"Your Password Again... For Confirmation",
                      class: "font-headings mt-1 mb-4 block w-full rounded-2xl border-neediegreen bg-white focus:border-gray-300 focus:bg-white focus:ring-0" } %>
          <span class="font-headings text-neediegreen">Upload your profile picture</span>
          <%= f.input :avatar, as: :file,
                      autofocus: true,
                      label: false,
                      input_html: { placeholder:"Your Profile Picture",
                      class: "font-headings mt-1 mb-4 block w-full rounded-2xl border-neediegreen bg-white focus:border-gray-300 focus:bg-white focus:ring-0" }%>
        </div>
        <%= hidden_field_tag :survey, params[:survey_id] %>

          <div class="form-actions mt-5 flex justify-center text-headings">
            <%= f.button :submit, "Sign Up", class: "py-2 px-5 border rounded-3xl text-white bg-neediegreen" %>
          </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
