<div class="flex justify-center">
  <div class="lg:w-5/6 lg:m-5 p-3">

    <div class="m-2">
    <% if @video.therapy.sub_category == 'yoga' %>
      <div class="flex justify-center p-3">
        <%= cl_image_tag("icon_yoga-01_1_jjptzi", class:"w-16 h-16") %>
        <div class="mx-2">
          <h1 class="font-headings font-bold text-md">Feeling <%= (@video.therapy.mood.name).downcase %>? Try some <%= @video.therapy.sub_category %>?</h1>
          <h1 class="font-headings text-base my-2">Let's stretch it out!</h1>
        </div>
      </div>
      <% elsif @video.therapy.sub_category == 'meditation' %>
        <div class="flex justify-center p-3">
          <%= cl_image_tag("meditation_azdo5p", class:"w-16 h-16") %>
          <div class="mx-2">
            <h1 class="font-headings font-bold text-md">Feeling <%= (@video.therapy.mood.name).downcase %>? Try some <%= @video.therapy.sub_category %>?</h1>
            <h1 class="font-headings text-base my-2">A meditation practice can help you be more mindful everyday</h1>
          </div>
        </div>
      <% elsif @video.therapy.sub_category == 'breathwork' %>
        <div class="flex justify-center p-3">
          <%= cl_image_tag("breathwork_eapavr", class:"w-16 h-16") %>
          <div class="mx-2">
            <h1 class="font-headings font-bold text-md">Feeling <%= (@video.therapy.mood.name).downcase %>? Try some <%= @video.therapy.sub_category %>?</h1>
            <h1 class="font-headings text-base my-2">Breathwork is a quick way to recenter yourself</h1>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex justify-center m-2 aspect-w-16 aspect-h-9">
      <iframe width="560" height="315" src=<%= @video.therapy.content.link %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </div>
</div>
