<nav class="
  relative
  w-full
  flex
  justify-between
  py-4
  bg-neediegreen
  text-white
  navbar navbar-expand-lg navbar-light
  ">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <div class="flex lg:w-0 lg:flex-1">
        <%= link_to "Needie", root_path, class:"text-5xl text-white font-headings" %>
      </div>

  <!-- Right elements -->
  <div class="flex items-center relative">
  <div class="dropstart relative">
    <a class="dropdown-toggle flex items-center hidden-arrow" href="#" id="dropdownMenuButton" role="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://images.unsplash.com/photo-1591160690555-5debfba289f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" class="rounded-full"
        style="height: 45px; width: 45px" alt="user avatar" />
    </a>
    <ul class="
    dropdown-menu
    min-w-max
    absolute
    hidden
    bg-white
    text-base
    z-50
    float-left
    py-2
    list-none
    text-left
    rounded-lg
    shadow-lg
    mt-1
    hidden
    m-0
    bg-clip-padding
    border-none
    left-auto
    right-0
  " aria-labelledby="dropdownMenuButton">
      <% if user_signed_in? %>
       <li>
        <%= link_to "My Profile", profile_path, class:"
        dropdown-item
        text-sm
        py-2
        px-4
        font-normal
        block
        w-full
        whitespace-nowrap
        font-headings
        text-neediegreen
        hover:bg-gray-100
        hover:text-neediegreen" %>
      </li>
      <li>
        <%= link_to "Log Out", destroy_user_session_path, class:"
        dropdown-item
        text-sm
        py-2
        px-4
        font-normal
        block
        w-full
        whitespace-nowrap
        font-headings
        text-neediegreen
        hover:bg-gray-100
        hover:text-neediegreen" %>
      </li>
      <% else %>
      <li>
        <%= link_to "Sign Up", new_user_registration_path, class:"
        dropdown-item
        text-sm
        py-2
        px-4
        font-normal
        block
        w-full
        whitespace-nowrap
        font-headings
        text-neediegreen
        hover:bg-gray-100
        hover:text-neediegreen" %>
      </li>
      <li>
        <%= link_to "Login", new_user_session_path, class:"
        dropdown-item
        text-sm
        py-2
        px-4
        font-normal
        block
        w-full
        whitespace-nowrap
        font-headings
        text-neediegreen
        hover:bg-gray-100
        hover:text-neediegreen" %>
      </li>
      <% end %>
    </ul>
  </div>
  </div>
  <!-- Right elements -->
  </div>
</nav>
