<nav class="
  relative
  w-full
  flex
  justify-between
  py-4
  bg-neediegreen
  text-white
  navbar navbar-expand-lg navbar-light
  ">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <div class="flex lg:w-0 lg:flex-1">
        <%= link_to "Needie", root_path, class:"text-5xl text-white font-headings" %>
      </div>

<% if user_signed_in? %>
  <div class="flex items-center relative">
  <div class="dropstart relative">
    <a class="dropdown-toggle flex items-center hidden-arrow" href="#" id="dropdownMenuButton" role="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      <%= cl_image_tag current_user.avatar.key, class:"rounded-full h-12 w-12" %>
    </a>
    <ul class="
    dropdown-menu
    min-w-max
    absolute
    hidden
    bg-white
    text-base
    z-50
    float-left
    py-2
    list-none
    text-left
    rounded-lg
    shadow-lg
    mt-1
    hidden
    m-0
    bg-clip-padding
    border-none
    left-auto
    right-0
  " aria-labelledby="dropdownMenuButton">
      <% if user_signed_in? %>
       <li>
        <%= link_to "My Profile", profile_path, class:"
        dropdown-item
        text-sm
        py-2
        px-4
        font-normal
        block
        w-full
        whitespace-nowrap
        font-headings
        text-neediegreen
        hover:bg-gray-100
        hover:text-neediegreen" %>
      </li>
        <%= link_to "My Moods", user_moods_path, class:"
        dropdown-item
        text-sm
        py-2
        px-4
        font-normal
        block
        w-full
        whitespace-nowrap
        font-headings
        text-neediegreen
        hover:bg-gray-100
        hover:text-neediegreen" %>
      </li>
      <li>
        <%= link_to "Edit Profile", edit_user_registration_path, class:"
        dropdown-item
        text-sm
        py-2
        px-4
        font-normal
        block
        w-full
        whitespace-nowrap
        font-headings
        text-neediegreen
        hover:bg-gray-100
        hover:text-neediegreen" %>
      </li>
      <li>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"
        dropdown-item
        text-sm
        py-2
        px-4
        font-normal
        block
        w-full
        whitespace-nowrap
        font-headings
        text-neediegreen
        hover:bg-gray-100
        hover:text-neediegreen" %>
      </li>
      <% end %>
    </ul>
  </div>
  </div>
  <% else %>
  <div class="sm:flex items-center justify-between space-x-2">
    <%= link_to "Login", new_user_session_path, class:"text-sm px-4 py-2 leading-none border-1 rounded-3xl text-white border-white mt-4 md:mt-1" %>
    <%= link_to "Sign Up", new_user_registration_path, class:"text-sm px-4 py-2 leading-none border-1 rounded-3xl text-white border-white mt-4 md:mt-1" %>
  </div>
  <% end %>
  </div>

</nav>
