<header class="bg-neediegreen">
  <div class="max-w-full p-4 w">
    <div class="flex items-center justify-between space-x-4 lg:space-x-10">
      <div class="flex lg:w-0 lg:flex-1">
        <%= link_to "Needie", root_path, class:"text-5xl text-white font-headings hover:text-lightgreen" %>
      </div>

      <div class="sm:flex items-center justify-between space-x-2">
        <div class="text-white">
          <%= link_to "Sign Up", new_user_registration_path, class:"inline-block text-sm font-headings px-4 py-2 leading-none border rounded-2xl border-white hover:border-transparent hover:bg-white hover:text-neediegreen" %>
        </div>
        <div class="text-white">
          <%= link_to "Login", new_user_session_path, class:"inline-block text-sm font-headings px-4 py-2 leading-none border rounded-2xl border-white hover:border-transparent hover:bg-white hover:text-neediegreen" %>
        </div>
        <div class="text-white">
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete, class: "inline-block text-sm font-headings px-4 py-2 leading-none border rounded-2xl border-white hover:border-transparent hover:bg-white hover:text-neediegreen"%>
        </div>
                <div class="text-white">
          <%= link_to "Profile", root_path, class: "inline-block text-sm font-headings px-4 py-2 leading-none border rounded-2xl border-white hover:border-transparent hover:bg-white hover:text-neediegreen"%>
        </div>
      </div>
    </div>
  </div>
</header>
