<%# <%= cl_image_tag current_user.avatar.key, height: 30, width: 40, crop: :fill %>
<%# <div class="flex">
  <div class="py-5">
    <h1 class="text-4xl font-headings text-center text-gray-800">
      Hello <%= current_user.first_name %>
    <%# </h1>
    <h2 class="text-md text-center font-headings text-gray-400">
      How are you feeling today?
    </h2> %>
    <%# <%= link_to "Check your mood history here!", user_moods_path, class:"font-headings" %>
  <%# </div>
</div> %>

<article class="p-11 w-8/12 bg-white-800 m-24 border border-green-700 rounded-xl">
  <div class="flex items-center pl-72 ">
    <%= cl_image_tag current_user.avatar.key, height: 30, width: 40 %>

    <div class="ml-3">
      <h5 class="text-lg font-medium text-black"> Hello <%= current_user.first_name %></h5>
      <div class="flow-root">
        <ul class="flex flex-wrap -m-1">
          <li class="p-1 leading-none">
            <a
              href="https://twitter.com/itsmarkmead"
              target="_blank"
              class="text-xs font-medium text-gray-300"
            >
              Twitter
            </a>
          </li>

          <li class="p-1 leading-none">
            <a
              href="https://github.com/markmead"
              target="_blank"
              class="text-xs font-medium text-gray-300"
            >
              WeChat
            </a>
          </li>

          <li class="p-1 leading-none">
            <a
              href="https://markmead.dev/"
              target="_blank"
              class="text-xs font-medium text-gray-300"
              >Weibo</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="mt-8 space-y-8">
    <li>
        <h5 class="font-medium text-black"><%= link_to "Mood Calendar", user_moods_path, class:"font-headings" %></h5>

        <p class="mt-1 text-xs font-medium text-gray-300"> Check and fill in your past moods here
        </p>
      </a>
    </li>

    <li>
        <h5 class="font-medium text-black"><%= link_to " Past scores", surveys_path, class:"font-headings" %></h5>

        <p class="mt-1 text-xs font-medium text-gray-300">
        Check your previous Burns score here!
        </p>
      </a>
    </li>
  </ul>
</article>
