<div class="flex justify-center content-center">
  <div class="lg:w-1/2 lg:m-5 shadow rounded-3xl p-5">
    <h1 class="font-headings text-center text-2xl text-neediegreen">Your Past <strong>Burns</strong> Checklist Scores</h1>
    <br>
    <div class="text-xl trailing-wide text-center leading-10">
    <% @surveys.each do |survey| %>
      <ul>
      <li><strong><%= survey.score %></strong>
          <% if survey.score  >= 0 && survey.score <= 5 %>
          <%= 'No depression' %>
          <% elsif survey.score > 5 && survey.score <= 10 %>
          <%= 'Normal but unhappy' %>
          <% elsif survey.score > 10 && survey.score <= 25 %>
          <%= 'Mild depression' %>
          <% elsif survey.score > 25 && survey.score <= 50 %>
          <%= 'Severe depression' %>
          <% elsif survey.score > 50 && survey.score <= 100 %>
          <%= 'Extreme depression' %>
          <% end %>on
          <%= survey.created_at.strftime("%A, %d %b %Y") %>
      </li>
      </ul>
    <% end %>
    </div>
  </div>
</div>
