 <div class="flex justify-center content-center">
  <div class="lg:w-11/12 lg:m-5 p-5">
    <h1 class="font-headings text-center text-2xl text-neediegreen">This is the <strong>Burns Depression Checklist</strong></h1>
    <br>
    <h1 class="font-headings text-center lg:text-xl mx-3">This is a self assessment to rate your own symptoms for indicators of depression.</h1>
    <br>
    <h2 class="font-headings text-left mx-3 lg:text-lg text-sm italic"><strong>Instructions: </strong>Slide left and right to indicate how much you have
      experienced each symptom during the past week according to the table below, including today. Please answer all 25 items.</h2>
    <br>
    <div class="flex justify-center border-neediegreen border-1 rounded-3xl lg:m-3 m-2">
      <ul class="lg:flex sm:flex-wrap justify-center font-headings lg:text-base text-sm">
        <li class="lg:m-3 m-1"><strong>0</strong> = Not at all</li>
        <li class="lg:m-3 m-1"><strong>1</strong> = Somewhat</li>
        <li class="lg:m-3 m-1"><strong>2</strong> = Moderately</li>
        <li class="lg:m-3 m-1"><strong>3</strong> = A lot</li>
        <li class="lg:m-3 m-1"><strong>4</strong> = Extremely</li>
      </ul>
    </div>

    <%= simple_form_for @survey do |f| %>
      <br>
      <h1 class="font-headings text-neediegreen mb-3 font-semibold lg:text-xl trailing-wide text-center">Thoughts and Feelings</h1>
      <br>

      <h2 class="font-headings mb-3 lg:text-xl text-base ml-8">1. Feeling sad or down in the dumps</h2>
        <div class="flex ml-8">
          <%= f.input :question_0, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_0", onInput:"updateQuestionZero(this.value)", class: "lg:w-80 w-48" } %>
        <span id="question_0" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold text-base">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">2. Feeling unhappy or blue</h2>
        <div class="flex ml-8">
          <%= f.input :question_1, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_1", onInput:"updateQuestionOne(this.value)", class: "lg:w-80 w-48" } %>
          <span id="question_1" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">3. Crying spells or tearfulness</h2>
        <div class="flex ml-8">
          <%= f.input :question_2, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_2", onInput:"updateQuestionTwo(this.value)", class: "lg:w-80 w-48" } %>
          <span id="question_2" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">4. Feeling discouraged</h2>
        <div class="flex ml-8">
          <%= f.input :question_3, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_3", onInput:"updateQuestionThree(this.value)", class: "lg:w-80 w-48" } %>
          <span id="question_3" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">5. Feeling hopeless</h2>
        <div class="flex ml-8">
          <%= f.input :question_4, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_4", onInput:"updateQuestionFour(this.value)", class: "lg:w-80 w-48" } %>
          <span id="question_4" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">6. Low self-esteem</h2>
        <div class="flex ml-8">
          <%= f.input :question_5, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_5", onInput:"updateQuestionFive(this.value)", class: "lg:w-80 w-48" } %>
          <span id="question_5" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">7. Feeling worthless or inadequate</h2>
        <div class="flex ml-8">
          <%= f.input :question_6, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_6", onInput:"updateQuestionSix(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_6" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">8. Guilt or shame</h2>
        <div class="flex ml-8">
          <%= f.input :question_7, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_7", onInput:"updateQuestionSeven(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_7" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">9. Criticizing yourself or blaming others</h2>
        <div class="flex ml-8">
          <%= f.input :question_8, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_8", onInput:"updateQuestionEight(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_8" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">10. Difficulty making decisions</h2>
        <div class="flex ml-8">
          <%= f.input :question_9, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_9", onInput:"updateQuestionNine(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_9" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>
      <br>
      <h1 class="font-headings text-neediegreen mb-3 font-semibold lg:text-xl text-center trailing-wide">Activities and Personal Relationships<h1>
      <br>
      <h2 class="font-headings mb-3 lg:text-xl ml-8">11. Loss of interest in family, friends or colleagues</h2>
        <div class="flex ml-8">
          <%= f.input :question_10, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_10", onInput:"updateQuestionTen(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_10" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">12. Loneliness</h2>
        <div class="flex ml-8">
          <%= f.input :question_11, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_11", onInput:"updateQuestionEleven(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_11" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">13. Spending less time with family or friends</h2>
        <div class="flex ml-8">
          <%= f.input :question_12, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_12", onInput:"updateQuestionTwelve(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_12" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">14. Loss of motivation</h2>
        <div class="flex ml-8">
          <%= f.input :question_13, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_13", onInput:"updateQuestionThirteen(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_13" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">15. Loss of interest in work or other activities</h2>
        <div class="flex ml-8">
          <%= f.input :question_14, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_14", onInput:"updateQuestionFourteen(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_14" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">16. Avoiding work or other activities</h2>
        <div class="flex ml-8">
          <%= f.input :question_15, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_15", onInput:"updateQuestionFifteen(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_15" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">17. Loss of pleasure or satisfaction in life</h2>
        <div class="flex ml-8">
          <%= f.input :question_16, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_16", onInput:"updateQuestionSixteen(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_16" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>
      <br>
      <h1 class="font-headings text-neediegreen mb-3 font-semibold lg:text-xl text-center trailing-wide">Physical Symptoms</h1>
      <br>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">18. Feeling tired</h2>
        <div class="flex ml-8">
          <%= f.input :question_17, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_17", onInput:"updateQuestionSeventeen(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_17" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">19. Difficulty sleeping or sleeping too much</h2>
        <div class="flex ml-8">
          <%= f.input :question_18, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_18", onInput:"updateQuestionEighteen(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_18" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">20. Decreased or increased appetite</h2>
        <div class="flex ml-8">
          <%= f.input :question_19, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_19", onInput:"updateQuestionNineteen(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_19" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">21. Loss of interest in sex</h2>
        <div class="flex ml-8">
          <%= f.input :question_20, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_20", onInput:"updateQuestionTwenty(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_20" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">22. Worrying about your health</h2>
        <div class="flex ml-8">
          <%= f.input :question_21, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_21", onInput:"updateQuestionTwentyOne(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_21" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <br>
      <h1 class="font-headings text-neediegreen mb-3 font-semibold lg:text-xl text-center trailing-wide">Suicidal Urge</h1>
      <br>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">23. Do you have any suicidal thoughts?</h2>
        <div class="flex ml-8">
          <%= f.input :question_22, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_22", onInput:"updateQuestionTwentyTwo(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_22" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">24. Would you like to end your life?</h2>
        <div class="flex ml-8">
          <%= f.input :question_23, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_23", onInput:"updateQuestionTwentyThree(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_23" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <h2 class="font-headings mb-3 lg:text-xl ml-8">25. Do you have a plan for harming yourself?</h2>
        <div class="flex ml-8">
          <%= f.input :question_24, label: false, collection: 0..4, as: :range, input_html:{ min:"0", max:"4",step:"1", value: "0", list:"question_24", onInput:"updateQuestionTwentyFour(this.value)", class: "lg:w-80 w-48" }  %>
          <span id="question_24" class="lg:px-24 px-20 font-headings text-neediegreen lg:text-2xl font-bold">0</span>
        </div>

      <br>
      <div class="form-actions mt-3 flex justify-center">
        <%= f.button :submit, "Check my score", class: "hover:animate-ping font-headings py-2 px-5 border rounded-3xl text-white bg-neediegreen" %>
      </div>
    <% end %>
    <br>
      <p class="italic text-sm mx-3">Scores are intended to be interpreted by a mental health professional. Anyone with a persistent score above 10 may benefit from
       professional treatment. Anyone with suicidal feelings should seek an immediate consultation with a mental health professional or go to your
      nearest emergency room. From Feeling Good: The New Mood Therapy by D. Burns, MD.</p>
  </div>
</div>

<script>
  function updateQuestionZero(value){
          document.getElementById('question_0').innerText = value
  }

  function updateQuestionOne(value){
          document.getElementById('question_1').innerText = value
  }

  function updateQuestionTwo(value){
          document.getElementById('question_2').innerText = value
  }

  function updateQuestionThree(value){
          document.getElementById('question_3').innerText = value
  }

  function updateQuestionFour(value){
          document.getElementById('question_4').innerText = value
  }

  function updateQuestionFive(value){
          document.getElementById('question_5').innerText = value
  }

  function updateQuestionSix(value){
          document.getElementById('question_6').innerText = value
  }

  function updateQuestionSeven(value){
          document.getElementById('question_7').innerText = value
  }

  function updateQuestionEight(value){
          document.getElementById('question_8').innerText = value
  }

  function updateQuestionNine(value){
          document.getElementById('question_9').innerText = value
  }

  function updateQuestionTen(value){
          document.getElementById('question_10').innerText = value
  }

  function updateQuestionEleven(value){
          document.getElementById('question_11').innerText = value
  }

  function updateQuestionTwelve(value){
          document.getElementById('question_12').innerText = value
  }

  function updateQuestionThirteen(value){
          document.getElementById('question_13').innerText = value
  }

  function updateQuestionFourteen(value){
          document.getElementById('question_14').innerText = value
  }

  function updateQuestionFifteen(value){
          document.getElementById('question_15').innerText = value
  }

  function updateQuestionSixteen(value){
          document.getElementById('question_16').innerText = value
  }

  function updateQuestionSeventeen(value){
          document.getElementById('question_17').innerText = value
  }

  function updateQuestionEighteen(value){
          document.getElementById('question_18').innerText = value
  }

  function updateQuestionNineteen(value){
          document.getElementById('question_19').innerText = value
  }

  function updateQuestionTwenty(value){
          document.getElementById('question_20').innerText = value
  }

  function updateQuestionTwentyOne(value){
          document.getElementById('question_21').innerText = value
  }

  function updateQuestionTwentyTwo(value){
          document.getElementById('question_22').innerText = value
  }

  function updateQuestionTwentyThree(value){
          document.getElementById('question_23').innerText = value
  }

  function updateQuestionTwentyFour(value){
          document.getElementById('question_24').innerText = value
  }
</script>
