 <div class="flex justify-center">
  <div class="lg:w-11/12 lg:m-5 p-3">
    <div>
      <h1 class="text-center font-headings lg:text-2xl text-neediegreen">You scored: <strong><%= @survey.score %></strong></h1>
    </div>

    <div class="flex justify-center my-3">
      <% if user_signed_in?%>
        <%= link_to "Save Score", survey_path(@survey), method: :patch, class: "font-headings py-2 px-5 border rounded-full text-white bg-neediegreen w-48" %>

        <!-- pop-up alert here "score saved" -->
      <% else %>
        <%= link_to "Sign up to save score", new_user_registration_path(survey: @survey.id), class: "font-headings py-2 px-5 border rounded-full text-white bg-neediegreen w-54 mx-2" %>
        <%= link_to "Log in to save score", new_user_session_path(survey: @survey.id), class: "font-headings py-2 px-5 border rounded-full text-white bg-neediegreen w-54 mx-2" %>
      <% end %>
    </div>

    <div>
      <% if @survey.score  >= 0 && @survey.score <= 5 %>
        <%= render 'no_depression' %>
      <% elsif @survey.score > 5 && @survey.score <= 10 %>
        <%= render 'normal_but_unhappy' %>
      <% elsif @survey.score > 10 && @survey.score <= 25 %>
        <%= render 'mild_depression' %>
      <% elsif @survey.score > 25 && @survey.score <= 50 %>
        <%= render 'severe_depression' %>
      <% elsif @survey.score > 50 && @survey.score <= 100 %>
        <%= render 'extreme_depression' %>
      <%end%>
    </div>
  </div>
</div>
