<h1>Burns Depression Checklist</h1>

<p>Instructions: indicate how much you have
experienced each symptom during the past week, including today.
Please answer all 25 items.</p>

<ul>
  <li>0 = Not at all</li>
  <li>1 = Somewhat</li>
  <li>2 = Moderately</li>
  <li>3 = A lot</li>
  <li>4 = Extremely</li>
</ul>

<%= simple_form_for @user do |f| %>
<h1>Thoughts and Feelings</h1>
<h2>1. Feeling sad or down in the dumps</h2>
  <%= f.input :question_1, collection: 0..4 %>
<h2>2.</h2>
  <%= f.input :question_2, collection: 0..4 %>
<h2>3.</h2>
  <%= f.input :question_3, collection: 0..4 %>
<h2>4.</h2>
  <%= f.input :question_4, collection: 0..4 %>
<h2>5.</h2>
  <%= f.input :question_5, collection: 0..4 %>
<h2>6.</h2>
  <%= f.input :question_6, collection: 0..4 %>
<h2>7.</h2>
  <%= f.input :question_7, collection: 0..4 %>
<h2>8.</h2>
  <%= f.input :question_8, collection: 0..4 %>
<h2>9.</h2>
  <%= f.input :question_9, collection: 0..4 %>
<h2>10.</h2>
  <%= f.input :question_10, collection: 0..4 %>
<h1>Activities and Personal Relationships<h1>
<h2>11.</h2>
  <%= f.input :question_11, collection: 0..4 %>
<h2>12.</h2>
  <%= f.input :question_12, collection: 0..4 %>
<h2>13.</h2>
  <%= f.input :question_13, collection: 0..4 %>
<h2>14.</h2>
  <%= f.input :question_14, collection: 0..4 %>
<h2>15.</h2>
  <%= f.input :question_15, collection: 0..4 %>
<h2>16.</h2>
  <%= f.input :question_16, collection: 0..4 %>
<h2>17.</h2>
  <%= f.input :question_17, collection: 0..4 %>
<h1>Physical Symptoms</h1>
<h2>18.</h2>
  <%= f.input :question_18, collection: 0..4 %>
<h2>19.</h2>
  <%= f.input :question_19, collection: 0..4 %>
<h2>20.</h2>
  <%= f.input :question_20, collection: 0..4 %>
<h2>21.</h2>
  <%= f.input :question_21, collection: 0..4 %>
<h2>22.</h2>
  <%= f.input :question_22, collection: 0..4 %>
<h1>Suicidal Urge</h1>
<h2>23.</h2>
  <%= f.input :question_23, collection: 0..4 %>
<h2>24.</h2>
  <%= f.input :question_24, collection: 0..4 %>
<h2>25.</h2>
  <%= f.input :question_25, collection: 0..4 %>

  <%= f.button :submit %>
<% end %>
